.pointer {
  cursor: pointer;
}

.font-14px {
  font-size: 14px;
}

.icon-font-2 {
  font-size: 1.3rem;
}

.capitalize {
  text-transform: capitalize;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.animate:hover {
  transform: scale(1.01);
  background: #f5f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.action_icon_color {
  color: rgb(159, 59, 221);
}

.button_bg {
  background-color: rgb(43, 57, 106);
}
