body {
  min-height: 100vh;
}
.hind-light {
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  font-style: normal;
}

.hind-regular {
  font-family: 'Hind', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hind-medium {
  font-family: 'Hind', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.hind-semibold {
  font-family: 'Hind', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.hind-bold {
  font-family: 'Hind', sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mooli-regular {
  font-family: 'Mooli', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.mooli-500 {
  font-family: 'Mooli', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.mooli {
  font-family: 'Mooli', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.source-200 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.source-300 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
.source-400 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;

  font-weight: 400;
  font-style: normal;
}
.source-500 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;

  font-weight: 500;
  font-style: normal;
}
.source-600 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;

  font-weight: 600;
  font-style: normal;
}
.source-700 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.source-800 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.source-900 {
  font-family: 'Source Sans 3', sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.open-sans {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 13px;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

.pointer {
  cursor: pointer;
}

.font-14px {
  font-size: 14px;
}

.icon-font-2 {
  font-size: 1.3rem;
}

.capitalize {
  text-transform: capitalize;
}

.animate {
  transition: all 0.3s ease-in-out;
}

.animate:hover {
  transform: scale(1.01);
  background: #f5f2f2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}
